@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.App{
  background-color: #f2f2f2;
  padding-bottom: 20px;
}
.convert-layout{
  padding: 20px;
  margin: 25px auto;
  width: 60vw;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
}

@media only screen and (max-width: 500px){
  .convert-layout{
    width: 80vw;
  } 
}